
form#projects-view:has(input[value="nextjs"]:checked)
+ .projects-container
.project-card.nextjs {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
		transition:
			opacity 0.3s ease-in-out,
			transform 0.3s ease-in-out,
			visibility 0s linear 0s;
		pointer-events: auto;
		position: relative;
}

form#projects-view:has(input[value="javascript"]:checked)
+ .projects-container
.project-card.javascript {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
		transition:
			opacity 0.3s ease-in-out,
			transform 0.3s ease-in-out,
			visibility 0s linear 0s;
		pointer-events: auto;
		position: relative;
}

form#projects-view:has(input[value="typescript"]:checked)
+ .projects-container
.project-card.typescript {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
		transition:
			opacity 0.3s ease-in-out,
			transform 0.3s ease-in-out,
			visibility 0s linear 0s;
		pointer-events: auto;
		position: relative;
}

form#projects-view:has(input[value="chrome"]:checked)
+ .projects-container
.project-card.chrome {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
		transition:
			opacity 0.3s ease-in-out,
			transform 0.3s ease-in-out,
			visibility 0s linear 0s;
		pointer-events: auto;
		position: relative;
}

form#projects-view:has(input[value="unity"]:checked)
+ .projects-container
.project-card.unity {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
		transition:
			opacity 0.3s ease-in-out,
			transform 0.3s ease-in-out,
			visibility 0s linear 0s;
		pointer-events: auto;
		position: relative;
}

form#projects-view:has(input[value="cs"]:checked)
+ .projects-container
.project-card.cs {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
		transition:
			opacity 0.3s ease-in-out,
			transform 0.3s ease-in-out,
			visibility 0s linear 0s;
		pointer-events: auto;
		position: relative;
}

form#projects-view:has(input[value="flask"]:checked)
+ .projects-container
.project-card.flask {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
		transition:
			opacity 0.3s ease-in-out,
			transform 0.3s ease-in-out,
			visibility 0s linear 0s;
		pointer-events: auto;
		position: relative;
}

form#projects-view:has(input[value="sqlite3"]:checked)
+ .projects-container
.project-card.sqlite3 {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
		transition:
			opacity 0.3s ease-in-out,
			transform 0.3s ease-in-out,
			visibility 0s linear 0s;
		pointer-events: auto;
		position: relative;
}
