---
const { lang } = Astro.props
import HatenaIcon from "../../icons/hatena.astro"
import NoteIcon from "../../icons/note.astro"
import ChatIcon from "../../icons/chat.astro"
import Connect4Icon from "../../icons/connect-4.astro"
import KeyboardIcon from "../../icons/keyboard.astro"
import SearchIcon from "../../icons/search.astro"
import UniversityIcon from "../../icons/university.astro"
// import AnalyticsIcon from "../../icons/analytics.astro"
import TwitterIcon from "../../icons/twitter.astro"
import GitHubIcon from "../../icons/github.astro"
import YouTubeIcon from "../../icons/youtube.astro"
import LinkedInIcon from "../../icons/linkedin.astro"
import InstagramIcon from "../../icons/instagram.astro"
import FacebookIcon from "../../icons/facebook.astro"

const { section } = Astro.props
---

<div class="mobile-content">
  {
    section === "blog" ? (
      <div class="social-icons">
        <a
          id="hatena-blog-link"
          href="https://taroj1205.hatenablog.com"
          target="_blank"
          class="social-icon blog-icon"
          title={lang === "ja" ? "はてなブログ" : "Hatena Blog"}>
          <HatenaIcon fill="var(--text-color)" />
          <span>{lang === "ja" ? "はてなブログ" : "Hatena Blog"}</span>
        </a>
        <a
          id="note-link"
          href="https://note.com/taroj1205"
          target="_blank"
          class="social-icon blog-icon"
          title="note">
          <NoteIcon fill="var(--text-color)" />
          <span>note</span>
        </a>
      </div>
    ) : section === "apps" ? (
      <div class="social-icons">
        <a
          id="chat-app-link"
          href="https://chat-taroj.vercel.app/"
          target="_blank"
          class="social-icon app-icon"
          title={lang === "ja" ? "チャットアプリ" : "Chat App"}>
          <ChatIcon />
          <span>{lang === "ja" ? "チャットアプリ" : "Chat App"}</span>
        </a>
        <a
          id="connect4-link"
          href="https://connect4-taroj.vercel.app/"
          target="_blank"
          class="social-icon app-icon"
          title="Connect 4">
          <Connect4Icon />
          <span>Connect 4</span>
        </a>
        <a
          id="typing-game-link"
          href="https://typing-game-nextjs.vercel.app/"
          target="_blank"
          class="social-icon app-icon"
          title={lang === "ja" ? "タイピングゲーム" : "Typing Game"}>
          <KeyboardIcon />
          <span>{lang === "ja" ? "タイピングゲーム" : "Typing Game"}</span>
        </a>
        <a
          id="search-app-link"
          href="https://taroj.vercel.app/apps/search"
          target="_blank"
          class="social-icon app-icon"
          title={lang === "ja" ? "検索アプリ" : "Search App"}>
          <SearchIcon />
          <span>{lang === "ja" ? "検索アプリ" : "Search App"}</span>
        </a>
        <a
          id="uoa-links-link"
          href="https://taroj1205.poyo.jp/uoa"
          target="_blank"
          class="social-icon app-icon"
          title={lang === "ja" ? "UoAのリンク等" : "UoA Links"}>
          <UniversityIcon />
          <span>{lang === "ja" ? "UoAのリンク等" : "UoA Links"}</span>
        </a>
      </div>
    ) : section === "social" ? (
      <div class="social-icons">
        <a
          id="twitter-link"
          href="https://twitter.com/taroj1205"
          target="_blank"
          class="social-icon social-icon"
          title="Twitter">
          <TwitterIcon />
          <span>Twitter</span>
        </a>
        <a
          id="github-link"
          href="https://github.com/taroj1205"
          target="_blank"
          class="social-icon social-icon"
          title="GitHub">
          <GitHubIcon />
          <span>GitHub</span>
        </a>
        <a
          id="instagram-link"
          href="https://instagram.com/taroj1205"
          target="_blank"
          class="social-icon social-icon"
          title="Instagram">
          <InstagramIcon />
          <span>Instagram</span>
        </a>
        <a
          id="youtube-link"
          href="https://youtube.com/@taroj1205"
          target="_blank"
          class="social-icon social-icon"
          title="YouTube">
          <YouTubeIcon />
          <span>YouTube</span>
        </a>
        <a
          id="linkedin-link"
          href="https://linkedin.com/in/taroj"
          target="_blank"
          class="social-icon social-icon"
          title="LinkedIn">
          <LinkedInIcon />
          <span>LinkedIn</span>
        </a>
        <a
          id="facebook-link"
          href="https://facebook.com/taroj1205"
          target="_blank"
          class="social-icon social-icon"
          title="Facebook">
          <FacebookIcon />
          <span>Facebook</span>
        </a>
      </div>
    ) : null
  }
</div>

<style>
  .mobile-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    overflow-y: auto;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: var(--overlay-background-color);
    width: 12rem;
    z-index: var(--overlay-z-index);
    border-radius: 0.5rem;
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.5);
  }

  .social-icons {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    transition:
      background-color 0.3s ease,
      transform 0.2s ease;
    background-color: var(--overlay-button-background-color);
  }

  a:hover {
    background-color: var(--overlay-button-hover-color);
  }

  a svg {
    width: 20px;
    height: auto;
  }

  #hatena-blog-link {
    color: var(--hatena-blog-color);
  }
  #note-link {
    color: var(--note-link-color);
  }
  #chat-app-link {
    color: var(--chat-app-link-color);
  }
  #connect4-link {
    color: var(--connect4-link-color);
  }
  #typing-game-link {
    color: var(--typing-game-link-color);
  }
  #search-app-link {
    color: var(--search-app-link-color);
  }
  #uoa-links-link {
    color: var(--uoa-links-link-color);
  }
  #analytics-link {
    color: var(--analytics-link-color);
  }
  #twitter-link {
    color: var(--twitter-color);
  }
  #github-link {
    color: var(--text-color);
  }
  #instagram-link {
    color: var(--instagram-color);
  }
  #youtube-link {
    color: var(--youtube-color);
  }
  #linkedin-link {
    color: var(--linkedin-color);
  }
  #facebook-link {
    color: var(--facebook-color);
  }

  a span {
    color: var(--overlay-button-text-color);
    font-weight: 500;
  }
</style>
