---
const { lang } = Astro.props
import Apps from "./apps.astro"
import Blogs from "./blogs.astro"
import Socials from "./socials.astro"

const { section } = Astro.props
---

<div class="desktop-content">
  <div class="social-icons">
    {
      section === "blog" ? (
        <Blogs lang={lang} />
      ) : section === "apps" ? (
        <Apps lang={lang} />
      ) : section === "social" ? (
        <Socials lang={lang} />
      ) : null
    }
  </div>
</div>

<style>
  .desktop-content {
    display: flex;
    flex-direction: column;
    gap: var(--spaces-2);
    padding: var(--spaces-2);
    overflow-y: auto;

    background-color: var(--overlay-background-color);
    width: 12rem;
    z-index: var(--overlay-z-index);
    border-radius: var(--rounded-lg);
  }

  .social-icons {
    display: flex;
    flex-direction: column;
    gap: var(--spaces-2);
  }

  .social-icons a svg {
    width: 20px;
    height: auto;
  }
</style>

<style is:global>
  .social-icons a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    border-radius: 5px;
    transition:
      background-color 0.3s ease,
      transform 0.2s ease;
    background-color: var(--overlay-button-background-color);
  }

  .social-icons a:hover {
    background-color: var(--overlay-button-hover-color);
  }

  .desktop-content a {
    padding: 8px;
    justify-content: flex-start;
  }

  .social-icons a span {
    color: var(--overlay-button-text-color);
    font-weight: 500;
  }

  .social-icon {
    color: var(--text-color);
  }
</style>
