---
import Apps from "./apps.astro"
import Socials from "./socials.astro"
import Blogs from "./blogs.astro"

const { lang } = Astro.props
---

<div class="mobile-content">
  <section>
    <h2>{lang === "ja" ? "ブログ" : "Blog"}</h2>
    <div class="social-icons">
      <Blogs lang={lang} />
    </div>
  </section>
  <section>
    <h2>{lang === "ja" ? "アプリ" : "Apps"}</h2>
    <div class="social-icons">
      <Apps lang={lang} />
    </div>
  </section>
  <section>
    <h2>{lang === "ja" ? "ソーシャル" : "Social"}</h2>
    <div class="social-icons">
      <Socials lang={lang} />
    </div>
  </section>
</div>

<style is:global>
  .mobile-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    overflow-y: auto;
    height: 100%;

    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: hsla(0, 0%, 0%, 0.9);

    width: calc(100% - 40px);
    padding-top: 3rem;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--dark-text-color);
  }

  .social-icons {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spaces-2);
  }

  .social-icons a svg {
    width: 24px;

    height: auto;
  }
</style>

<style is:global>
  .mobile-content a {
    font-size: var(--fontSizes-lg);
    padding: 10px;
    justify-content: center;
  }
</style>
