---
import TwitterIcon from "../../icons/twitter.astro"
import GitHubIcon from "../../icons/github.astro"
import YouTubeIcon from "../../icons/youtube.astro"
import LinkedInIcon from "../../icons/linkedin.astro"
import InstagramIcon from "../../icons/instagram.astro"
import FacebookIcon from "../../icons/facebook.astro"
---

<a
  id="twitter-link"
  href="https://twitter.com/taroj1205"
  target="_blank"
  class="social-icon social-icon"
  title="Twitter">
  <TwitterIcon color="hsl(190, 90%, 30%)" />
  <span>Twitter</span>
</a>
<a
  id="github-link"
  href="https://github.com/taroj1205"
  target="_blank"
  class="social-icon social-icon"
  title="GitHub">
  <GitHubIcon />
  <span>GitHub</span>
</a>
<a
  id="instagram-link"
  href="https://instagram.com/taroj1205"
  target="_blank"
  class="social-icon social-icon"
  title="Instagram">
  <InstagramIcon color="hsl(330, 90%, 30%)" />
  <span>Instagram</span>
</a>
<a
  id="youtube-link"
  href="https://youtube.com/@taroj1205"
  target="_blank"
  class="social-icon social-icon"
  title="YouTube">
  <YouTubeIcon color="hsl(0, 90%, 40%)" />
  <span>YouTube</span>
</a>
<a
  id="linkedin-link"
  href="https://linkedin.com/in/taroj"
  target="_blank"
  class="social-icon social-icon"
  title="LinkedIn">
  <LinkedInIcon color="hsl(207, 100%, 35%)" />
  <span>LinkedIn</span>
</a>
<a
  id="facebook-link"
  href="https://facebook.com/taroj1205"
  target="_blank"
  class="social-icon social-icon"
  title="Facebook">
  <FacebookIcon color="hsl(214, 89%, 52%)" />
  <span>Facebook</span>
</a>
